TA2.ipynb
venv
.env

pdf_cvs/
kaggle.json

dataset/
landing_page/backend/final_bert_model_update/
landing_page/backend/*.zip
landing_page/backend/final_bert_model_update/final_bert_model_update.zip
landing_page/backend/app.ipynb